*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.container{
    max-width:80%;
    padding: 34px;
    margin: auto;
}


.container h1,p{
    text-align: center;
}

input, textarea{
    border:  2px solid black;
    border-radius: 12px;
    outline: none;
    font-size: 12px;
    width: 80%;
    margin: 11px;
    padding: 7px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 14px;
    align-self: center;
}

.bg{
    width: 100%;
    position:absolute;
    z-index: -1;
    opacity: 0.6;
}